@{
    ViewBag.Title = "O nas";
}

<div class="jumbotron" style="width:75%;text-align:center;margin:auto">
    <h1>O trucizny.ga</h1>
    <h3 style="margin-top:30px">Szukasz miejsca, gdzie możesz kupić swoje ulubione szkodliwe substancje? Świetnie trafiłeś! Sklep z truciznami trucizny.ga to jedyny taki punkt!</h3>
</div>
<p style="margin:3% 5%;font-size:13pt;text-align: justify;">
    Wybierając <b>trucizny.ga</b>, wybierasz tradycję! Działamy na wschodnioeuropejskim rynku nieprzerwanie od 1871 roku, kiedy to Adam Nałysz - młody student chemiotyki - otworzył pierwszy punkt <b>trucizn.ga</b> w Psich Głowach (województwo zachodniopomorskie).</p>
<p style="margin:0 5% 3% 5%;font-size:13pt;text-align: justify;">
    Zapewniamy produkty o najwyżej jakości, tylko z wyselekcjinowanych materiałów, od sprawdzonych, meksykańskich dostawców. Oferujemy najpopularniejsze rodzaje trucizn - jadalne, skórne, wziewne i dożylne. Potrzebujesz substancji o nietypowym działaniu? Skontaktuj się z nami, a pomożemy znaleźć coś wyjątkowego! Chcesz wysłać truciznę ukochanej osobie jako prezent? Oferujemy trucizny ze specjalą dedykacją dla tych jedynych.
</p>

<div style="text-align:center">
    <img src="~/Content/images/logo2.png" alt="logo">
</div>
