@{
    ViewBag.Title = "Kontakt";
}
<h1 style="margin-top:50px">@ViewBag.Title</h1>

<div>
    <div class="panel panel-default" style="display: inline-block;margin-right:5%;">
        <div class="panel-body" style="display:table">
            <div style="display:table-cell">
                <div style="font-size:20pt;margin-bottom:10px">TRUCIZNY.GA Sp. z o. o.</div>
                <div style="margin-bottom:0px;font-size: 18px;"><span class="glyphicon glyphicon-map-marker"></span> Nowoursynowska 166, 02-787 Warszawa</div>
                <div style="font-size: 18px;"><span class="glyphicon glyphicon-phone-alt"></span> 123-123-123, 321-321-321</div>
                <div style="font-size: 18px;"><span class="glyphicon glyphicon-envelope"></span><a href="mailto:admin@trucizny.ga"> admin@trucizny.ga</a>, <a href="mailto:truciznymail@op.pl">truciznymail@op.pl</a><br /></div>
                <div style="text-align:center;margin-top:15px">
                    <img src="~/Content/images/logo2.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="display: inline-block;">
        <div class="panel-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2447.365792428598!2d21.0449943!3d52.1640425!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719329883fd23a7%3A0x61c4239f71837b06!2sNowoursynowska+166%2C+Warszawa!5e0!3m2!1spl!2spl!4v1452886637206" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>