
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="margin-top:40px">Poświąteczna wyprzedaż</h2>

<h3 style="margin:3% 5%;font-size:13pt;text-align: justify;">
    10% zniżki na trucizny świąteczne!
</h3>*@

<div class="jumbotron" style="width:75%;text-align:center;margin:auto">
    <h1>Poświąteczna wyprzedaż</h1>
    <h3 style="margin-top:30px"> 10% zniżki na trucizny świąteczne! Tylko do końca stycznia 10% zniżki na produkty takie jak choinkowa @Html.ActionLink("jodła", "Details", "Products", new { id = ViewBag.firId }, new { style = "color:0000FF" }) czy @Html.ActionLink("jemioła pospolita.", "Details", "Products", new { id = ViewBag.mistletoeId }, new { style = "color:0000FF" })
    Nie czekaj, zamów już dziś! </h3>
</div>
<div style="text-align:center">
    <img src="~/Content/images/logo_bow.png" alt="logo_bow">
</div>


@*<p style="margin:0 5% 3% 5%;font-size:13pt;text-align: justify;">
    Tylko do końca stycznia 10% zniżki na produkty takie jak choinkowa @Html.ActionLink("jodła", "Details", "Products", new { id = ViewBag.firId }, new { style = "color:0000FF" })       
     czy @Html.ActionLink("jemioła pospolita.", "Details", "Products", new { id = ViewBag.mistletoeId }, new {style="color:0000FF" })
     Nie czekaj, zamów już dziś!
</p>*@