
@{
    ViewBag.Title = "Dostawa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p style="margin:3% 5%;font-size:13pt;text-align: justify;">
    Kup ulubione substancje przez internet nie wychodząc z domu!
</p>
<p style="margin:0 5% 3% 5%;font-size:13pt;text-align: justify;">
    Na wszystkie zamówienia powyżej 50 PLN dostawa gratis.
    Dla Twojej wygody wszystkie zakupione substancje wysyłamy kurierem pod adres podany przez Ciebie przy rejestracji. Jeśli podasz adres paczkomatu InPost - wysyłki dokonamy na paczkomat. Przewidywany czas realizacji zamówienia to 48 godzin.
</p>*@

<div class="jumbotron" style="width:75%;text-align:center;margin:auto">
    <h1>Darmowa dostawa!</h1>
    <h3 style="margin-top:30px"> Kup ulubione substancje przez internet nie wychodząc z domu! Na wszystkie zamówienia powyżej 50 PLN dostawa gratis.
    Dla Twojej wygody wszystkie zakupione substancje wysyłamy kurierem pod adres podany przez Ciebie przy rejestracji. Jeśli podasz adres paczkomatu InPost - wysyłki dokonamy na paczkomat. Przewidywany czas realizacji zamówienia to 48 godzin.</h3>
</div>
