@model List<Sklep_z_truciznami.Models.ApplicationUser>

    @{
        ViewBag.Title = "ManageUsers";
        Layout = "~/Views/Shared/_Layout.cshtml";
        WebGrid grid = new WebGrid(Model, ajaxUpdateContainerId: "usersGrid");
    }

    <h2 style="margin:40px auto">Zarządzaj użytkownikami</h2>
<div style="margin-bottom:40px">
    @grid.GetHtml(tableStyle: "table", columns: grid.Columns(
                    grid.Column("Email", "Użytkownik"),
                    grid.Column("IsActive", "Status", format: x =>
                    {
                        if (x.IsActive)
                            return Html.Raw(string.Format("<text>Aktywny</text>"));
                        else
                            return Html.Raw(string.Format("<text>Zablokowany</text>"));
                    }),
                    grid.Column("", format: x =>
                    {
                        if (x.IsActive)
                            return Html.ActionLink("Zablokuj", "ChangeUserStatus", new { userID = x.Id, status = false }, new { @class = "btn btn-default", role = "button" });
                        else
                            return Html.ActionLink("Odblokuj", "ChangeUserStatus", new { userID = x.Id, status = true }, new { @class = "btn btn-default", role = "button" });
                    }
                    )))
</div>

