@model List<Sklep_z_truciznami.ViewModels.ProductVM>
@{
    ViewBag.Title = "Produkty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<div style="margin-top:40px">
        @using (Html.BeginForm("Search", "Products", FormMethod.Post, new {id="searchForm" }))
        {
            @Html.TextBox("searchPhrase", null, new { id = "SearchPhrase", onfocus = "this.value = this.value;" })
        <button id="searchButton" class="btn btn-primary">Szukaj</button>
        <br />
            @Html.CheckBox("searchInDescription")
            @Html.Label("Szukaj też w opisach")
        }

    </div>
<div id="ListOfProducts">  
    @Html.Partial("PartialListOfProducts", Model)
</div>
<script>
    window.onload = function () {
        textBox = document.getElementById("SearchPhrase").focus();
    };    
</script>

<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                $.ajax({
                    url: "Search",
                    type: "POST",
                    data: $("form").serialize(),
                    success: function (result) {
                        $("#ListOfProducts").html(result);
                    }
                });
                return false;
            }
        });
    });
    $("#searchButton").click(function (event) {
        event.preventDefault();
        $.ajax({
            url: "Search",
            type: "POST",
            data: $("form").serialize(),
            success: function (result) {
                $("#ListOfProducts").html(result);
            }
        });
    });
</script>
