
@{
    ViewBag.Title = "Baned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Użytkownik został zablokowany!</h2>

<h4>Złamałeś regulamin, zapoznaj się z nim i skontaktuj z administracją w sprawie wyjaśnień.</h4>